<template>
    <form class="example" style="margin:auto;max-width:300px" v-on:submit.prevent="noop">
        <input type="text" id="search" placeholder="Search.." name="search" v-on:keyup="autosuggest()">
        <button type="button" @click="search()" v-on:keyup.enter="search()" id="search_btn"><i class="fa fa-search"></i></button>
    </form>

    <div v-if="display" class="autocomplete" style="margin:auto;max-width:300px">
        <ul>
            <div v-for="(search_term, index) in result" :key="search_term">
                <div v-text="search_term"></div>
            </div>
        </ul>
    </div>

    <div v-if="searchData_display">
        <div class="row col-12">
            <div class="col-2 layered-filter-wrapper left">
                <div v-for="(n, index) in filters">
                    <h5><b style ="text-transform: capitalize;">{{ index }}</b></h5>

                    <div v-for="data in n">
                        <input @click="searchWithFilter(index + '_' + data)" type="checkbox" :id="index + '_' + data"
                            :value="index + '_' + data" v-model="checked_filter">
                        <label for="checkbox">{{ data }} </label>
                    </div>
                </div>
            </div>
            <div class="card-group col-10 right">
                <div v-for='(product, index) in searchresult' key='product._id'>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Title: {{ product.title }}</h5>
                            <h6 class="card-text">Author:  {{ product.author }} </h6>
                            <h6 class="card-text">published: {{ product.published }} </h6>
                            <h6 class="card-text">publisher: {{ product.publisher }} </h6>
                            <h6 class="card-text">Genre: {{ product.genre }} </h6>
                            <p class="card-text">Discriptipn : {{ product.description }}</p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="searchData_display != true && display != true" style="text-align: center;margin-top: 30px;">
       <b> No Data Found</b>
    </div>

   
</template>
<script>
export default {

    data: function () {
        return {
            display: false,
            result: "",
            disabled: 0,
            searchData: "",
            searchData_display: false,
            selected: null,
            author: "",
            filters: "",
            filter_data: "",
            all_filters: [],
            filter: [],
            checked_filter: [],
            url:""
        }
    },
    methods: {
        autosuggest() {
            this.disabled = true

            axios.get("http://127.0.0.1:8000/autocomplete", {
                params: {
                    search_data: document.querySelector("input[name=search]").value
                }
            }).then(function (response) {
                this.result = response.data.terms;
                this.display = true;
                this.searchData_display = false;
            }.bind(this));
        },
        search() {
           
            this.url = window.location.href;

            console.log(this.url);
            this.display = false;
            axios.get("http://127.0.0.1:8000/search", {
                params: {
                    search_data: document.querySelector("input[name=search]").value
                }
            }).then(function (response) {
                this.searchQ = this.search_data
                this.searchresult = response.data.response;
                if (this.searchresult.length > 0) {
                    this.searchData_display = true;
                    this.filters = response.data.filter;
                }
            }.bind(this));

        },
        searchWithFilter(param) {
            this.display = false;
            this.all_filters.push(param);

            axios.get("http://127.0.0.1:8000/search", {
                params: {
                    filter: this.all_filters,
                    search_data: document.querySelector("input[name=search]").value,

                }
            }).then(function (response) {
                this.searchQ = this.search_data
                this.searchresult = response.data.response;

                if (this.searchresult.length > 0) {
                    this.searchData_display = true;
                    this.filters = response.data.filter;
                    this.checked_filter = response.data.selected_filter;
                }

              
            }.bind(this));
        },

    }
}    
</script>

<style>
    .autocomplete ul {
    border: 1px solid #ccc;
    padding-left: 0px;
    border-radius: 0px 0px 5px 5px;
    }
    .autocomplete ul div {
    padding: 2px 5px;
    color: #444;
    }
    input#search {
    border: 1px solid #ccc;
    height: 40px;
    margin-top: 10px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 6px;
    margin-bottom: 2px;
    }
    button#search_btn {
    height: 38px;
    border-color: #999;
    box-shadow: none;
    border: 1px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    }
    .card {margin: 10px;}
    p.card-text {
    height: 250px;
    margin: 10px;}
    .col-2.layered-filter-wrapper.left label {padding-left: 8px;}
    .col-2.layered-filter-wrapper.left div {margin-left: 15px;}
</style>