<template>
   
    <div v-if="searchData_display">
        <div class="row col-12">
            <div class="col-2 layered-filter-wrapper left">
                <div v-for="(n, index) in filters">
                    <b style ="text-transform: capitalize;">{{ index }}</b>

                    <div v-for="data in n">
                        <input @click="searchWithFilter(index + '_' + data)" type="checkbox" :id="index + '_' + data"
                            :value="index + '_' + data" v-model="checked_filter">
                        <label for="checkbox">{{ data }} </label>
                    </div>
                </div>
            </div>
            <div class="card-group col-10 right">
                <div v-for='(product, index) in searchresult' key='product._id'>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> title: {{ product.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Author {{ product.author }} </h6>
                            <p class="card-text">Discriptipn : {{ product.description }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else-if="searchData_display != true && display != true">
        no data found
    </div>

    
</template>
<script>
export default {

    data: function () {
        return {
            display: false,
            result: "",
            disabled: 0,
            searchData: "",
            searchData_display: false,
            selected: null,
            author: "",
            filters: "",
            filter_data: "",
            all_filters: [],
            filter: [],
            checked_filter: [],
            url:""
        }
    },
    methods: {
        autosuggest() {
            this.disabled = true

            axios.get("http://127.0.0.1:8000/autocomplete", {
                params: {
                    search_data: document.querySelector("input[name=search]").value
                }
            }).then(function (response) {
                this.result = response.data.terms;
                this.display = true;
                this.searchData_display = false;
            }.bind(this));
        },
        search() {
           
            this.url = window.location.href;

            console.log(this.url);
            this.display = false;
            axios.get("http://127.0.0.1:8000/search", {
                params: {
                    search_data: document.querySelector("input[name=search]").value
                }
            }).then(function (response) {
                this.searchQ = this.search_data
                this.searchresult = response.data.response;
                if (this.searchresult.length > 0) {
                    this.searchData_display = true;
                    this.filters = response.data.filter;
                }
            }.bind(this));

        },
        searchWithFilter(param) {
            this.display = false;
            this.all_filters.push(param);

            axios.get("http://127.0.0.1:8000/search", {
                params: {
                    filter: this.all_filters,
                    search_data: document.querySelector("input[name=search]").value,

                }
            }).then(function (response) {
                this.searchQ = this.search_data
                this.searchresult = response.data.response;

                if (this.searchresult.length > 0) {
                    this.searchData_display = true;
                    this.filters = response.data.filter;
                    this.checked_filter = response.data.selected_filter;
                }

              
            }.bind(this));
        },

    }
}    
</script>
